@using MMB_ASPNET.Models
@model IEnumerable<Player>

<h2>Player Leaderboards</h2>

<form style="margin-bottom:10px" action="/Player/InsertPlayer/">
    <input class="btn-info" type="submit" value="New Player" />
</form>

<table class="table">
    <tr>
        <th>Position</th>
        <th>Name</th>
        <th>MMR</th>
        <th>Wins</th>
        <th>Losses</th>
    </tr>
    @{ var pos = 1; }
    @foreach(var p in Model)
    {
        <tr>
         <td>@pos</td>
         <td><a href=/Player/ViewPlayer/@p.Id>@p.Name</a></td>
         <td>@p.Mmr</td>
         <td>@p.Wins</td>
         <td>@p.Losses</td>
     </tr>
     { pos++; }
    }
</table>