@using MMB_ASPNET.Models
@model Player

@{
    ViewData["Title"] = "Update Player";
}

<h2>Update @Model.Name</h2>

@using (Html.BeginForm("UpdatePlayerToDatabase", "Player", "Post"))
{
    <input asp-for="Id" type="hidden" value="@Model.Id" />

    <label asp-for="Name" class="control-label">Name</label>

    <input type="text" id="input" name="Name" class="form-control" value="@Model.Name"  autocomplete="off"
    pattern="([a-zA-Z0-9]+\s?)*$" minlength="1" maxlength="15"  title="Name can only include: a-z A-Z 0-9 and single spaces. ex: l33Tname M4ster."
    onchange="this.value = this.value.trim()"/>
    

    <input asp-for="Mmr" type="hidden" value="@Model.Mmr" />

    <input asp-for="Wins" type="hidden" value="@Model.Wins" />

    <input asp-for="Losses" type="hidden" value="@Model.Losses" />

    <br>

    <input type="submit" id="button" value="Update Player" class="btn btn-primary" disabled/>
}

<script>
    let input = document.getElementById("input");
    let btn = document.getElementById("button");

    input.addEventListener("input", function(){
        btn.disabled = (this.value === '');
    })
 </script>