@using MMB_ASPNET.Models
@model Player

<h3>Player "@Model.Name" Information</h3>

<div style="display: block">
    <a href="/Player/UpdatePlayer/@Model.Id">Update Player Name</a>
</div>

<table class="table">
    <tr>
        <th>Name</th>
        <th>MMR</th>
        <th>Wins</th>
        <th>Losses</th>
    </tr>
    <tr>
        <td>@Model.Name</td>
        <td>@Model.Mmr</td>
        <td>@Model.Wins</td>
        <td>@Model.Losses</td>
    </tr>
</table>


<div style="display: block">
    @using (Html.BeginForm("DeletePlayer", "Player", "Post"))
    {
        <input type="hidden" asp-for="Id" value="@Model.Id" />
        <input type="submit" onclick="return confirm('Are you sure?')" value="Delete this Player?" />
    }
</div>