@using MMB_ASPNET.Models
@model Player

@{
    ViewData["Title"] = @Model.Name;
}

<h3>Player "@Model.Name" Information</h3>

<div style="display: block">
    <a href="/Player/UpdatePlayer/@Model.Id">Update Player Name</a>
</div>

<table class="table">
    <tr>
        <th>Name</th>
        <th>MMR</th>
        <th>Wins</th>
        <th>Losses</th>
    </tr>
    <tr>
        <td>@Model.Name</td>
        <td>@Model.Mmr</td>
        <td>@Model.Wins</td>
        <td>@Model.Losses</td>
    </tr>
</table>

<br />

<h4>@Model.Name Match History</h4>

<table class="table">
    <tr>
        <th>Winner</th>
        <th>MMR Change</th>
        <th>Loser</th>
        <th>MMR Change</th>
        <th>Date(UTC)</th>
    </tr>
    @foreach(var m in Model.Matches)
    {
        var wName = m.WinnerName != null ? m.WinnerName : "{Deleted User}";
        var lName = m.LoserName != null ? m.LoserName : "{Deleted User}";
        <tr>
            <td>@wName</td>
            <td>@m.WMmrChange</td>
            <td>@lName</td>
            <td>@m.LMmrChange</td>
            <td>@m.Date</td>
         </tr>
    }
</table>


<div style="display: block">
    @using (Html.BeginForm("DeletePlayer", "Player", "Post"))
    {
        <input type="hidden" asp-for="Id" value="@Model.Id" />
        <input type="submit" onclick="return confirm('☠Are you sure?☠')" value="☠Delete this Player?☠" class="btn-danger"/>
    }
</div>